body {
  background-color: rgb(235, 234, 234);
  padding: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 33, 33);
}

.go-back {
  margin-bottom: 20px;
}

.go-back-btn {
  font-size: 22px;
  color: rgb(34, 33, 33);
}
.container {
  display: flex;
  flex-direction: row;
  height: 300px;
  background: linear-gradient(rgb(223, 243, 247), rgb(172, 172, 223));
  border: 3px solid rgb(105, 114, 235);
  margin-bottom: 20px;
}

.box {
  height: 50px;
  width: 60px;
  border: 3px solid green;
  background-color: yellow;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
}

.flex-direction {
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: linear-gradient(-75deg, rgba(30, 93, 239, 0.9), rgb(41, 39, 41));
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-size: 18px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.flex-direction:hover,
button.active {
  background: linear-gradient(75deg, rgba(1, 39, 128, 0.9), rgb(23, 22, 23));
  scale: 0.99;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
}
